<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>INEZ ADMIN</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.1/image-picker.min.css" integrity="sha256-8b3s+ez6wXPJKBWlHOEW2aXyB1eYluL1V3wqh+vHpis=" crossorigin="anonymous" />
    <!-- Custom CSS -->
    <style>
      body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">INEZ Admin Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/all">Alle Produkte</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="/">Neues Produkt <span class="sr-only">(current)</span></a>
          </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Willkommen!</h1>
    <p class="lead">Hier kannst du Produkte in die Produktdatenbank einpflegen!</p>
  </div>
{{#exists}}
  <div class="alert alert-danger" role="alert">
      Lebensmittel ist bereits vorhanden!
    </div>
    {{/exists}}

    {{#done}}
  <div class="alert alert-success" role="alert">
      Lebensmittel erfolgreich eingetragen!
    </div>
    {{/done}}

  <div class="row">
      <div class="col">
        <form method="post" action="upload">
            <div class="form-group">
              <label for="exampleFormControlInput1">Produktname</label>
              <input type="name" class="form-control" name="produktname" placeholder="Kartotte">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Plural</label>
              <input type="name" class="form-control" name="plural" placeholder="Kartotten">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Bild</label>
              <input type="name" class="form-control" name="bild" placeholder="URL...">
            </div>

            <div class="form-group">
              <label for="kategorie">Kategorie</label>
              <select class="form-control" id="kategorie" name="kategorie">
                <option>Obst & Gemüse</option>
                <option>Backwaren</option>
                <option>Milch & Käse</option>
                <option>Fleisch & Fisch</option>
                <option>Zutaten & Gewürze</option>
                <option>Fertig & TK-Produkte</option>
                <option>Getreideprodukte</option>
                <option>Snacks & Süßwaren</option>
                <option>Getränke & Tabak</option>
                <option>Haushalt & Gesundheit</option>
                <option>Tierbedarf</option>
                <option>Baumarkt & Garten</option>
              </select>
            </div>
            <div class="form-group">
                <label for="synonyme">Synonyme (mit Leerzeichen getrennt)</label>
                <input type="name" class="form-control" name="synonyme" placeholder="Möhre">
              </div>
              <div class="form-group">
                <label for="synonyme">Primäre Einheit</label>
                <input type="name" class="form-control" name="preinheit" placeholder="Stück">
              </div>
              <div class="form-group">
                <label for="synonyme">Weitere Einheiten (mit Leerzeichen getrennt)</label>
                <input type="name" class="form-control" name="einheiten" placeholder="Gramm,Liter">
              </div>

                <input type="submit" class="btn btn-primary" value="Absenden">
          </form>
      </div>
  </div>

</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>>
<script src="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.1/image-picker.js" integrity="sha256-ckwhC1oSC7R08Orw576xZ0e0BjYtTWRExevDePSmSMM=" crossorigin="anonymous"></script>
<script>
$("#bilder").imagepicker();
</script>
</body>
</html>